<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-4.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.2.xsd        
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">

	<import resource="db.xml" />

	<!-- Support for @Autowire -->
	<context:annotation-config />
	<context:component-scan base-package="ua.epam.spring.hometask.dao." />
	<context:component-scan base-package="ua.epam.spring.hometask.dataManipulationImpl" />
	<context:component-scan base-package="ua.epam.spring.hometask.aspects" />
	<context:component-scan base-package="ua.epam.spring.hometask.utils" />
	
	<tx:annotation-driven transaction-manager="txManager" />
	
	<aop:aspectj-autoproxy />

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<value>/WEB-INF/db.properties</value>
		</property>
		<property name="ignoreResourceNotFound" value="false" />
	</bean>

</beans>